mate_pair_libs/
paired_end_reads/
.idea/
.snakemake/
.vscode/settings.json
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.nextflow.log.4
.nextflow.log.5
.nextflow.log.6
.nextflow.log.7
.nextflow.log.8
.nextflow
work/
.nextflow.log*
mate_pair_libs_sub
paired_end_reads_sub
gc_lutea_maping
plutea_reference_genome
gc_lutea_maping_unmapped
.vscode/
