// Global default params
params {

 // Work with subsampled fastqs for testing and developing the pipeline
 sub_sample = true
 sub_sample_depth = 10000

 //Threads for the various processes
 trimmomatic_threads = 4
 tadpole_threads = 24
 bbmap_gc_investigation_threads = 10
 bbmap_lutea_threads = 24
 bbmerge_threads = 24

 // Whether to make fastqc files
 make_fastqc = false

 // Path to the TruSeq3 file for use in trimmomatic
 tru_seq_pe_fasta_path = "/home/humebc/projects/st_genome/TruSeq3-PE.fa"

 // Path to the lutea reference genome
 lutea_ref_genome_path = "/home/humebc/projects/st_genome/plutea_reference_genome/plut_v1.1.genome.fa"

 // Whether to do the lutea mapping gc distribution investigation and make the figure
 do_bbmap_lutea_gc_investigations = false

}
